name: Run website in Docker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t https://pypsik154.github.io/FunKino .

      - name: Run Docker container
        run: docker run -d -p 5173:5173 https://pypsik154.github.io/FunKino  # Проброс порта 5173

      - name: Test if site is running
        run: |
          curl --silent --fail http://localhost:5173  # Проверка порта
          echo "Site is running"
